@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@500&family=Roboto+Slab:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

.cabecera li,a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: cornflowerblue;
    text-decoration: none;
}

.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color:azure;
    position: fixed;
    width: 100%;
}

.logo{
    cursor: pointer;
}

.Links li{
    display: inline-block;
    padding: 0px 20px;
}

.Links li a{
    transition: all 0.3s ease 0s;

}
.Links a.activo{
    color:darkblue
}

.Links li a:hover{
    color:darkblue;
}

.cabecera button{
    padding: 13px 25px;
    background-color: rgba(241, 230, 177, 0.76);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cabecera button:hover{
    background-color: rgba(238, 226, 167, 0.952);
    color:darkblue;
}

.nosotros{
    background-color: rgb(253, 246, 238);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.titulo{
    text-align: center;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 100;
    background-color: #FDF6EE;
}   

.contenedor{
    width: 100%;
    display: flex;
    max-width: 1100px;
    background-color: #FDF6EE;
}

.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.card h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 3.12em;
    font-weight: 500;
    color: rgb(1, 1, 73);
}

.card a{
    color: #65417e;
    font-size: 18px;
    font-weight: 300;
}

.card .texto{
    padding: 15px;
    text-align: center;
    line-height: 1.5;
}

.Participantes{
    width: 100%;
    display: flex;
    max-width: auto;
    background-color: #FDF6EE;
}
.P-contenedor{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.P-contenedor:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.P-contenedor img{
    width: 100%;
    height: 100%;
}
.P-unidad{
    padding: 20px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}
